<div class="col-md-12 col-sm-12">
<div class="row">

<h3 class="text-center"><%=@users.count%> users</h3>
</br>
<%@users.each do |user|%>
<%user.profiles.limit(1).each do |profile| %>

<div class="col-md-3 col-sm-3">
<div class="w3-panel w3-card w3-responsive cardproduct">

<%if profile.company_image.present?%>

 <p class="text-center"><%= image_tag profile.company_image.url(:medium),:size => "210x210", :crop =>:fill,class: 'img-circle'%></p>
      <%else%>
   
     <p  class="text-center"> <%=image_tag("images/minivetexim_company.png",:size => "180x180",:crop =>:fill,class: 'img-circle')%></p>
 
      <%end%>

  <h4 class="text-center w3-hide-medium w3-hide-large"><b><%=profile.company_name.first(50).capitalize%></b></h4>
   <p class="text-center w3-hide-medium w3-hide-large"><b>Minimum Order - </b><%=profile.minimun_order.first(40).capitalize%></p>
   <p class="text-center w3-hide-medium w3-hide-large"><b>Import/Export Country - </b><%=profile.target_country.first(60).capitalize%></p>
   <p class="text-center w3-hide-medium w3-hide-large"><b>About Biz - </b><%=profile.about_company.first(560).capitalize%></p>  
 

<%end%>
<div class="text-center"><%=link_to user.name.first(20).capitalize,profile_path(user.id),class: "w3-text-blue"%></div>
<h4 class="text-center"><%=user.business_type%></h4> 
<h5 class="text-center"><%=user.country%></h5>
<h5 class="text-center"><%=user.email%></h5>
<h5 class="text-center"><%=user.mobile_number%></h5>


</div>
</div>


<%end%>


</div>
</div>
