<div class="col-md-12 col-sm-12">
<div class="row">

<h3 class="text-center"><%=@users.count%> users</h3>
</br>
<%@users.each do |user|%>
<div class="col-md-3 col-sm-3">
<div class="w3-panel w3-card w3-responsive cardproduct">

<%if user.profiles.length == 0%>
 <p  class="text-center"> <%=image_tag("images/minivetexim_company.png",:size => "100x100",:crop =>:fill,class: 'img-circle')%></p>

 <%end%>
<%user.profiles.limit(1).each do |profile| %>


<%if profile.company_image.present?%>

 <p class="text-center"><%= image_tag profile.company_image.url(:medium),:size => "100x100", :crop =>:fill,class: 'img-circle'%></p>
      <%else%>
   
     <p  class="text-center"> <%=image_tag("images/minivetexim_company.png",:size => "100x100",:crop =>:fill,class: 'img-circle')%></p>
 
      <%end%>
    <%end%>

<div class="text-center"><%=link_to user.name.first(20).capitalize,profile_path(user.id),class: "w3-text-blue"%></div>
<h4 class="text-center"><%=user.business_type%></h4> 
<h5 class="text-center"><%=user.country%></h5>
<h5 class="text-center"><%=user.product_name%></h5>



</div>
</div>


<%end%>


</div>
</div>
