<div class="col-md-12 col-sm-12">
<div class="row">

<h3 class="text-center"><%=@users.count%> users</h3>
</br>
<%@users.each do |user|%>
<div class="col-md-3 col-sm-3">
<div class="w3-panel w3-card w3-responsive">
<h3 class="text-center"><b><%=user.name%></b></h3>
<h4 class="text-center"><%=user.business_type%></h4> 
<h5 class="text-center"><%=user.country%></h5>
<h5 class="text-center"><%=user.email%></h5>
<h5 class="text-center"><%=user.mobile_number%></h5>
</div>
</div>

<%end%>


</div>
</div>
