<div class="col-md-12 col-sm-12">
<div class="row">

<div class="col-md-3 col-sm-3">
<div class="w3-panel w3-card w3-responsive">

<h5 class="text-center minivetexim"><b>About person</b></h5>
</br> 
<h3 class="text-center"><b><%=@user.name.first(20).capitalize%></b></h3>
<h4 class="text-center"><%=@user.business_type%></h4> 
<h5 class="text-center"><%=@user.country.first(25).capitalize%></h5>
<h5 class="text-center"><%=@user.email.first(30).capitalize%></h5>
<h5 class="text-center"><%=@user.mobile_number.first(20).capitalize%></h5>
</br>
</br>

</div>
</div>

<div class="col-md-9 col-sm-9">
<div class="w3-panel w3-card w3-responsive">

<h5 class="text-center minivetexim"><b>Business Information</b></h5>
<%if @user.profiles.limit(1).length == 0%>
<% if user_signed_in? %> 
<% if current_user.id == @user.id%>
<div class="col-md-8 col-sm-8">
<p class="text-center"><%=image_tag("images/minivet_exim.jpg",:size => "460x180",class: "img-responsive")%></p>
<h5 class="text-danger">Your profile is not approved to show in trade fair or event, to get approval. Add business information and add a minimum of 4 photos related to your products in your profile page.</h5>
</div>
<%end%>
<%end%>
<%else%>

<%@user.profiles.limit(1).each do |profile|%>

<div class="col-md-4 col-sm-4">
<div class="w3-responsive">
<%if profile.company_image.present?%>

 <p class="text-center"><%= image_tag profile.company_image.url(:medium),:size => "210x210", :crop =>:fill,class: 'img-circle'%></p>
      <%else%>
    </br>
       <p  class="text-center"> <%=image_tag("images/minivetexim_company.png",:size => "180x180",:crop =>:fill,class: 'img-circle')%></p>
 
      <%end%>  
</div>
</div>

<div class="col-md-8 col-sm-8">

  <h4 class="text-center w3-hide-medium w3-hide-large"><b><%=profile.company_name.first(50).capitalize%></b></h4>
   <p class="text-center w3-hide-medium w3-hide-large"><b>Minimum Order - </b><%=profile.minimun_order.first(40).capitalize%></p>
   <p class="text-center w3-hide-medium w3-hide-large"><b>Import/Export Country - </b><%=profile.target_country.first(60).capitalize%></p>
   <p class="text-center w3-hide-medium w3-hide-large"><b>About Biz - </b><%=profile.about_company.first(560).capitalize%></p>  
 


 <h4 class="w3-hide-small"><b><%=profile.company_name.first(50).capitalize%></b></h4>
   <p class="w3-hide-small"><b>Minimum Order - </b><%=profile.minimun_order.first(40).capitalize%></p>
   <p class="w3-hide-small"><b>Import/Export Country - </b><%=profile.target_country.first(60).capitalize%></p>
   <p class="w3-hide-small"><b>About Biz - </b><%=profile.about_company.first(560).capitalize%></p>  
 
<%end%>
<%end%>





</div>

</div>
</div>  

</div>
</div>


<div class="col-md-12 col-sm-12">
  
<div class="w3-panel w3-card w3-responsive">
<h5 class="text-center minivetexim"><b>Products</b></h5>





<%if @user.products.length == 0%>
<% if user_signed_in? %> 
<% if current_user.id == @user.id%>
<div class="col-md-7 col-sm-7">
<p class="text-center"><%=image_tag("images/minivet_exim1.jpg",:size => "460x180",class: "img-responsive")%></p>
<h5 class="text-danger">Your profile is not approved to show in trade fair or event, to get approval. Add a photos related to your products in your profile page.</h5>

<%end%>
<%end%>

<%else%>

<%@user.products.limit(12).each do |product|%>

<div class="col-md-4 col-sm-4">
<div class="w3-card w3-responsive">


<p class="text-center"><%=image_tag product.product_image.url(:medium),:size => "270x270", :crop =>:fill%></p>
    <p class="text-center"><%=product.product_name%></p>
    <p class="text-center"><%=product.product_price%></p> 

</div>
</br>
</div>

<%end%>

<%end%>



</div>
</div>















