<!DOCTYPE html>
<html>
  <head>
    <title>Eximsquare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= favicon_link_tag asset_path('images/minivetexim.png'), :rel => 'icon', :type =>  'images/png'%>
  </head>

  <body>
    <%= render '/layouts/nav' %>
    <span class="notice"><%= yield %></span>
    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
  </body>
</html>

